<body>
    <div id="main-nav">
        <div class="container clearfix">
            <a href="/Can-I-Reach-Challenger/public" class="topbar-brand pull-left">Can I Reach Challenger?</a>

            <nav class="topbar-nav pull-right">
                <ul class="unstyled">
                    <li><a href="/Can-I-Reach-Challenger/public">Home</a></li>
                    <li><a href="/Can-I-Reach-Challenger/public/about">About</a></li>
                    <li><a href="/Can-I-Reach-Challenger/public/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-6">
                    <header>
                        <h2>About</h2>
                        <h3>Get to know our project</h3>
                    </header>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="col-md-18 col-md-offset-3">
                <article>
                    <h2>Overall</h2>
                    <p>
                        “Can I Reach Challenger?” is a project built as an entry to the Riot Games API Challenge 2016. Our goal is to investigate the player statistics and compare them to some of the best players in their region. We definitely think this can help people improve their gameplay in general and make the Summoner’s Rift more competitive.
                    </p>

                    <h2>Data</h2>
                    <p>
                        To get all the statistics necessary we’re using Riot Games’ API that provides thousands of information for each player or game. We developed a few cURL requests to capture the data as a JSON.
                    </p>

                    <h2>Back-end</h2>
                    <p>
                        We’re using PHP and Slim Framework for the backend. We chose PHP because it can be used everywhere and is supported for most of the web servers, also it supports a library called cURL, or libcurl, which allow us to connect and request data from Riot Games’ API.
                    </p>

                    <p>
                        Slim Framework allow us to create a REST application, it’s very lightweight and simple to use.
                    </p>

                    <h2>Front-end</h2>
                    <p>
                        For the front-end we’re using AngularJS and the main reason behind this decision is: we want the app to be organized. Angular JS implements MVC by itself.
                    </p>

                    <p>
                        AngularJS also uses a declarative interface and directives which help us to bring new functionalities, like our loader, to the app’s user interface.
                    </p>
                </article>
            </div>
        </div>
    </section>

    <section id="footer">
        <footer>
            <div class="container">
                <p><strong>Can I Reach Challenger</strong> isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
                <span>© 2016 - Made with <i class="fa fa-heart" aria-hidden="true"></i></span>
            </div>
        </footer>
    </section>
</body>
