<body>
    <div id="main-nav">
        <div class="container clearfix">
            <a href="/Can-I-Reach-Challenger/public" class="topbar-brand pull-left">Can I Reach Challenger?</a>

            <nav class="topbar-nav pull-right">
                <ul class="unstyled">
                    <li><a href="/Can-I-Reach-Challenger/public">Home</a></li>
                    <li><a href="/Can-I-Reach-Challenger/public/about">About</a></li>
                    <li><a href="/Can-I-Reach-Challenger/public/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-6">
                    <header>
                        <h2>Contact</h2>
                        <h3>Get in touch with our team</h3>
                    </header>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="col-md-18 col-md-offset-3">
                <div class="row">
                    <div class="col-md-11">
                        <div class="card">
                            <div class="card-header c1">
                                <div class="card-title">
                                    <h2>FBZ</h2>
                                    <h3>Diamond IV</h3>
                                </div>
                            </div>

                            <div class="card-social">
                                <ul class="unstyled">
                                    <li>
                                        <a href="https://github.com/fbzz" class="social-badge gh"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-badge"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-text">
                                <p>
                                    "Master yourself, master the enemy."
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-11 col-md-offset-2">
                        <div class="card">
                            <div class="card-header c2">
                                <div class="card-title">
                                    <h2>ZAKKISHI</h2>
                                    <h3>Diamond III</h3>
                                </div>
                            </div>

                            <div class="card-social">
                                <ul class="unstyled">
                                    <li>
                                        <a href="https://github.com/lorrandavid" class="social-badge gh"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="mailto:lorrantd1@gmail.com" class="social-badge"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-text">
                                <p>
                                    "Never lost a fair game... or played one."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <footer>
            <div class="container">
                <p><strong>Can I Reach Challenger</strong> isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
                <span>© 2016 - Made with <i class="fa fa-heart" aria-hidden="true"></i></span>
            </div>
        </footer>
    </section>
</body>
